html {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .navbar {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30rem;
    width: 100%;
    overflow: hidden;
    background: url(Climate-change-pics/Gas-polution-picture.jpg) no-repeat bottom
      left
  }
  .navbar .dropdown {
    display: block;
    font-size: x-large;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    margin-top: 5px;
    margin-right: 10px;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      text-align: left;
      padding: 12px 16px;
      z-index: 1;
      
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
  
    }
  
  
  .First-heading {
    margin-left: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1em;
    line-height: 3rem;
    font-size: x-large;
    background-color: white;
  }
  .polar-bear-picture {
    width: 37rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 3rem;
    margin-top: 1rem;
    border-radius: 1%;
    z-index: 0;
    float: right;
    text-align: center;
  }
  
.First-paragraph{
    margin-left: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1em;
    line-height: 3rem;
    font-size: x-large;
}


  /* 
 
  .First-paragraph h2{
      text-align: center;
  }
  .Fourth-paragraph ol, .Rhetorical-analysis ul{
      line-height: 2rem;
      margin-left: 3rem;
      font-size: x-large;
  how do i make this image appear over the text when i hover over the image
  } */