h1 {
    margin: auto;
    text-align: center;
    color: blue;
}
.Paragraph-1{
    margin: 10px;
    padding: 10px;
    text-align: left;
    text-align: top;
}


/* .Fossil-fuel{
    position: relative;
    z-index: -1;
    
}

.polar-bear{
    max-width: 630;
    max-height: 315;
    width: auto;
    height: auto;
    margin: 10px;
    float: left;
    
}
button{
    background-color: #4CAF50;
    float: right;
    border: 1px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/
